aiohttp
aiosignal
annotated-types
anyio
attrs
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
docx2pdf
email_validator
environs
fastapi
fastapi-cli
fastapi_cors
filelock
firebase-admin
fpdf
frozenlist
fsspec
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
intel-openmp
Jinja2
joblib
jsonpatch
jsonpointer
jwcrypto
langchain
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mkl
mpmath
msgpack
multidict
networkx
numpy
oauth2client
ollama
orjson
packaging
pdfkit
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
PyPDF2
Pyrebase4
python-dotenv
python-jwt
python-multipart
hypercorn
PyYAML
regex
requests
requests-toolbelt
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
SQLAlchemy
starlette
sympy
tbb
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing_extensions
ujson
uritemplate
urllib3
uvicorn
watchfiles
websockets
yarl